In [2]:
from faker import Faker
import random
import pandas as pd
import string
from datetime import date

In [3]:
# Vamos reler o novo arquivo CSV que foi enviado
dimensao_projeto_path_novo = 'c:\\Users\guluciomir\PosArqEngDados\ProjetoFinal\SPRINT 2\Dimensao_Projeto.csv'

# Lendo o novo arquivo CSV corretamente com o delimitador correto (ponto e vírgula)
df_dimensao_projeto_novo = pd.read_csv(dimensao_projeto_path_novo, delimiter=';', encoding='latin1')

# Exibindo as primeiras linhas após o ajuste para confirmar a leitura correta
df_dimensao_projeto_novo.head(2)

,id_projeto,descricao_projeto,codigo_matricula_gestor_projeto,nome_gestor_projeto,valor_receita_projeto,valor_custo_projeto,data_inicio_projeto,data_fim_projeto,numero_versao_projeto
0,1,Venda Licenca Software,114,Arthur Gabriel Silva,2130003,1888131,09/06/2023,30/08/2025,1
1,2,Consultoria,102,Alexia Marques,2347626,1840986,01/05/2023,17/09/2025,3

In [4]:
# Importando biblioteca adicional para lidar com datas
from datetime import datetime
import numpy as np

# Convertendo as colunas de data para o formato datetime
df_dimensao_projeto_novo['data_inicio_projeto'] = pd.to_datetime(df_dimensao_projeto_novo['data_inicio_projeto'], format='%d/%m/%Y')
df_dimensao_projeto_novo['data_fim_projeto'] = pd.to_datetime(df_dimensao_projeto_novo['data_fim_projeto'], format='%d/%m/%Y')

# Função para gerar os meses e anos entre duas datas
def gerar_meses_anos(data_inicio, data_fim):
    data_atual = data_inicio
    meses = []
    while data_atual <= data_fim:
        meses.append((data_atual.month, data_atual.year))
        if data_atual.month == 12:
            data_atual = datetime(data_atual.year + 1, 1, 1)
        else:
            data_atual = datetime(data_atual.year, data_atual.month + 1, 1)
    return meses

# Criando um novo DataFrame com os meses, anos e os valores ajustados
linhas_novas = []

for _, row in df_dimensao_projeto_novo.iterrows():
    meses_anos = gerar_meses_anos(row['data_inicio_projeto'], row['data_fim_projeto'])
    num_meses = len(meses_anos)
    
    # Dividindo os valores de custo e receita pelos meses
    valor_custo_mensal = row['valor_custo_projeto'] / num_meses
    valor_receita_mensal = row['valor_receita_projeto'] / num_meses
    
    for mes, ano in meses_anos:
        linhas_novas.append({
            'mês': mes,
            'ano': ano,
            'id_projeto': row['id_projeto'],
            'valor_custo': valor_custo_mensal,
            'valor_receita': valor_receita_mensal
        })

# Criando o novo DataFrame com as linhas geradas
df_novo = pd.DataFrame(linhas_novas)

# Exibindo as primeiras linhas do novo DataFrame
df_novo.head(3)

   mês   ano  id_projeto   valor_custo  valor_receita
0    6  2023           1  69930.777778        78889.0
1    7  2023           1  69930.777778        78889.0
2    8  2023           1  69930.777778        78889.0

In [6]:
df_novo.to_csv('Tabela_captura_planejamento_projeto.csv', index=False)

In [ ]:
#join_novo_dimProjeto = df_novo.merge(df_dimensao_projeto_novo, on='id_projeto', how='left')
#join_novo_dimProjeto.head(3)
#join_novo_dimProjeto = df_novo.merge(df_dimensao_projeto_novo, on='id_projeto', how='left')
#join_novo_dimProjeto.head(3)
#path_apontamento = 'c:\\Users\guluciomir\PosArqEngDados\ProjetoFinal\SPRINT 2\Captura_de_dados\Apontamento_horas\Tabela_Captura_apontamento_horas.xlsx'
#df_apontamento = pd.read_excel(path_apontamento)

#join_novo_apontamento = df_novo.merge(df_apontamento, on='id_projeto', how='left')
#join_novo_apontamento.count()

#join_novo_apontamento.head()

#df_novo.count()